main {
    border: 4px solid black;
    border-radius: 50px;
    margin: 50px auto;
    padding: 40px;
    width: 70%;
}

#h1-msg {
    font-size: 3rem;
}

.text-center {
    text-align: center;
}

/*
number-display-widget
*/

.number-display-widget {
    margin: 60px auto;
}

.number-display-widget p {
    text-align: center;
    font-size: 5rem;
}
.number-display-widget h2 {
    text-align: center;
    font-size: 2rem;
}

/*
timer buttons
*/
.timer-btns {
    width: 90%;
    margin: 0 auto 50px auto;
    text-align: center;
}

.timer-btns button {
    color: white;
    border: 0;
    outline: none;
    border-radius: 50px;
    padding: 20px 0;
    font-size: 1.4rem;
    margin: 5px;
    width: 140px;
}

.timer-btns button:enabled {
    background: green;
}

.timer-btns button:disabled {
    background: lightgreen;
}

/*
achivements
*/
.achv-unlock-btn {
    text-align: center;
    font-size: x-large;
    border: 4px solid aqua;
    border-radius: 15px;
    margin: 10px;
}

.achv-unlock-btn p:first-child {
    font-size: xx-large;
}

.achv-unlock-btn p {
    white-space: nowrap;
}

.achv-unlock-btn.fill {
    background-color: aqua;
}

/*
v-goal-btn
*/

#v-goal-btn {
    border-radius: 50px;
    border: 4px solid gold;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    width: 40%;
    padding: 20px 0;
    margin: 30px auto 0 auto;
}

#v-goal-btn.goal {
    background-color: gold;
}
